<div class="sidebar" data-color="green" data-background-color="white" data-image="/template/dashboard/assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href="" class="simple-text logo-normal">
            SERCOVID-MASTER
        </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <% for(side of tabside) { %> 
          <% if(side.active == 1) { %> 
            <li class="nav-item active">
          <% } else { %> 
            <li class="nav-item">
          <% } %> 
            <a class="nav-link" href="<%= side.route %> ">
              <i class="material-icons"><%= side.icone %></i>
              <p><%= side.texte %></p>
            </a>
          </li>
        <% } %> 
        <li class="nav-item active-pro ">
          <a class="nav-link" href="">
            <i class="material-icons">unarchive</i>
            <p>DECONNEXION</p>
          </a>
        </li>
      </ul>
    </div>
  </div>