<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">Nouvelle Cible</h3>
                <p class="card-category">Type Individu</p>
            </div>

            <% if(locals.error) { %>
                <div class="col-md-6 offset-md-3">
                    <br/>
                    <div class="alert alert-danger" style="color: black; text-align: center; font-size: 18px; font-weight: bold;">
                        <%= locals.error %>
                    </div>
                    <br/>
                </div>
            <% } %>
            
            <div class="card-body">
                <form method="POST" action="/root/tracking/individus/newcible">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Identifiant</label>
                                <input name="identifiant" type="text" class="form-control"
                                value=
                                <% if(locals.excontent) { %> 
                                    <%= excontent.identifiant %> 
                                <% } %> 
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Téléphone</label>
                                <input name="telephone" type="number" class="form-control"
                                value=
                                <% if(locals.excontent) { %> 
                                    <%= excontent.identifiant %> 
                                <% } %> 
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 justify-content-center">
                        <button type="submit" class="btn btn-primary pull-right">
                            Rechercher && Cibler
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>