<%- extend('../../dashbase.ejs') %>

<style>
    .listcard2 {
        height: 100px;
    }
    .listcard2 {
        height: 150px;
    }
</style>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon listcard2">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>
                <p class="card-category">LISTE PAR CATEGORIE</p>
                <h3 class="card-title">
                    <b>
                        LISTE PAR CATEGORIE
                    </b>
                    <br>
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="col-4 offset-8">
                    <a href="/root/gestion_individus/recherche_type1" class="btn btn-primary btn-round pull-right">
                        Consulter
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon listcard2">
                <div class="card-icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>
                <p class="card-category">RECHERCHE PAR LOT DE CATEGORIE</p>
                <h3 class="card-title">
                    <b>
                        RECHERCHE PAR LOT DE CATEGORIE
                    </b>
                    <br>
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="col-4 offset-8">
                    <a href="/root/gestion_individus/recherche_type2" class="btn btn-primary btn-round pull-right">
                        Consulter
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon listcard2">
                <div class="card-icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="card-icon">
                    <i class="material-icons">category</i>
                </div>
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">RECHERCHE POUSSÉE PAR LOT DE CATEGORIE </p>
                <h3 class="card-title">
                    <b>
                        RECHERCHE POUSSÉE PAR LOT DE CATEGORIE
                    </b>
                    <br>
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="col-4 offset-8">
                    <a href="/root/gestion_individus/recherche_type3" class="btn btn-primary btn-round pull-right">
                        Consulter
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>