<%- extend('../../dashbase.ejs') %>

<div class="row justify-content-around">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon mapcard1">
                <div class="card-icon">
                    <i class="material-icons">people</i>
                </div>
                <p class="card-category">SERVICE TRACKING</p>
                <h1 class="card-title">TRACKING D'INDIVIDUS
                    <br>
                    <small></small>
                </h1>
            </div>
            <div class="card-footer">
                <div class="col-6">
                    <div class="stats">
                        <i class="material-icons">import_export</i>
                        <i class="material-icons">my_location</i>Position Temps Réel
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <a href="/root/tracking/individus" class="btn btn-primary btn-round pull-right">
                        Commencer
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon mapcard1">
                <div class="card-icon">
                    <i class="material-icons">people</i>
                </div>
                <p class="card-category">SERVICE TRACKING</p>
                <h1 class="card-title">TRACKING DE ZÔNES
                    <br>
                    <small></small>
                </h1>
            </div>
            <div class="card-footer">
                <div class="col-6">
                    <div class="stats">
                        <i class="material-icons">import_export</i>
                        <i class="material-icons">my_location</i>Position Temps Réel
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <a href="/root/tracking/zones" class="btn btn-primary btn-round pull-right">
                        Commencer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>